asgiref==3.8.1
Django==5.1.7
django-allauth==65.5.0
django-cleanup==9.0.0
django-db-multitenant==0.3.2
django-extensions==3.2.3
django-htmx==1.23.0
django-tenants==3.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
geographiclib==2.0
geopy==2.4.1
inflection==0.5.1
mysqlclient==2.2.7
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
PyMySQL==1.1.1
pytz==2025.1
PyYAML==6.0.2
sqlparse==0.5.3
tzdata==2025.1
uritemplate==4.1.1
